<!doctype html>

<html lang="en">

<head>

</head>

<body style="text-align:center;">

      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
          <div class="form-floating mb-3" style="margin-top:200px">
            <!-- <input type="text" class="form-control" id="floatingInput" placeholder=""> -->
             <textarea rows="10" cols="50"> >{{ data1.output }}</textarea>
            <label for="floatingInput"></label>
          </div>
      </div>

      <div class="search">
        <style>{padding:20px}</style>
      </div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" style="margin-top:30px">
        <button type="button">
        <a href="/chat" class="btn btn-primary px-4 gap-3" 
       style="font-size: 1.5rem; padding: 1rem 2rem;">Back</a>
        </button>
        </div>
            
</body>


